{% block sidebar %}
        <style>
                .card{
                    box-shadow: 0 16px 48px #E3E7EB;
                }
        </style>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4 float-right ">
            <div class="card my-4">
                <h5 class="card-header">About Us</h5>
                    <div class="card-body">
                        <p class="card-text"> IW Academy was founded on the conviction that top software talent can be developed anywhere. By combining practical curriculum with experienced practitioners from Kathmandu, Silicon Valley & Europe, we prepare all-rounded developers in Nepal who can be part of high-performing distributed engineering teams globally.</p>
                        <a href="https://insightworkshop.io/academy" class="btn btn-danger">Know more!</a>
                    </div>
            </div>
        </div>
{% endblock sidebar %}